In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('heart.xls')

In [3]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
# KNN- k nearest neighbours
-lazy learning means it doesnot learn a model upfront.Instead, it makes predictions based on the stored training data
how:
-choose k- the number of neighbout(2,3,4,6,7,8 etc)
- measure the distance
- find k nearest neighbors
vote/average
Feature X                    Feature Y                 Class
2                             3                         A
3                             4                         A
5                             6                         B
6                             7                         B

SyntaxError: invalid syntax (2036561909.py, line 2)

In [ ]:
4,5
1. compute the distance to all points
d=(x2-x1)**2+(y2-y1)**2^1/2
a.(2,3)---------------(4-2)**2+(5-3)**2^1/2 = 2.82 A
b.(3,4)---------------1.4 A
c.(5,6)..............1.41 B
d.(6,7)...............2.82 B

step=find k=3 nearest neighbours

(3,4)-A,(5,6)-B,(2,3)-A
A-2
B-1

majority=A
classify=A

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X=df.drop('target',axis=1)
y=df['target']

In [ ]:
# split data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
#train the model
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)

In [ ]:
# predict
y_pred=knn.predict(X_test)

In [ ]:
Y_pred_train=knn.predict(X_train)

In [ ]:
accuracy_score(y_train,Y_pred_train)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,y_pred)

In [ ]:
# Regualization 
- a techniques to reduce overfitting by adding a penalty to large coefficients calues in regression model

In [ ]:
from sklearn.linear_model import Ridge, Lasso
ridge=Ridge(alpha=1.0)
ridge.fit(X_train,y_train)

In [ ]:
alpha=0, no reagularization
alpha small(0.001-0.1)= light penalty    ---- coefficients are slightly shrunk
alpha moderate(0.1-10)= balanced panelty  -----helps control overfitting
alpha large(10-100 or higher) strong penalty ----coefficients become very small or 0

In [ ]:
pre=ridge.predict(X_train)

In [ ]:
pre_test=ridge.predict(X_test)

In [ ]:
pip install numpy

In [ ]:
import numpy as np

In [ ]:
# creating arrays 
arr1=np.array([1,2,3,4])
arr1

In [ ]:
arr2=np.array([[1,2,3],[3,4,6],[7,8,9]])
arr2

In [ ]:
arr2.shape

In [ ]:
arr2[1,2]

In [ ]:
arr2[2,1]

In [ ]:
arr2[1]

In [ ]:
arr2[:,1]

In [ ]:
arr=np.arrange(0,10,2)
print(arr)

In [5]:
np.random.rand(5)

NameError: name 'np' is not defined

In [ ]:
np.random.randint(0,10,7)

In [6]:
np.zeros(5)

NameError: name 'np' is not defined

In [8]:
# array with specific value
np.full((2,3,),7)

NameError: name 'np' is not defined

In [10]:
np.arrange(1,7).reshape(2,3)
arr

NameError: name 'np' is not defined

In [11]:
arr+2

NameError: name 'arr' is not defined

In [12]:
arr*3

NameError: name 'arr' is not defined

In [13]:
arr.sum()

NameError: name 'arr' is not defined

In [ ]:
# mean of each column
arr.mean(axis=0)

In [ ]:
# mean of each row
arr.mean(axis=1)

In [14]:
np.random.seed(42)
data=pd.DataFrame({
    'credit_score':np.random.randint(300,851,200),
    'employment_years':np.random.randint(0,41,200),
    'gender':np.random.choice(['Male,Female'],200)
})
data

NameError: name 'np' is not defined