In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('messy_shopping_dataset (1).xls')
df

,Customer_ID,Name,Age,Gender,Product,Category,Price,Quantity,Discount,Payment_Method,Date,Address,Review,Rating,Coupon_Code
0,$4627,Kri*ta Morris,3102,M@le,c!nt!nxe,qu!ckl!,5538,5529,8294,UP#,2003-01-31,1423 Rice Isle @pt. 436\nSouth Stephaniehaveno...,Live keep c@n@ition popular up official it dis...,1,*cM-**76
1,$3295,Yvon!e Barr#ra,6444.17,Female,meason,s*ay,"8,441",2733,706,*PI,1973-05-18,"047 Henders*n Camp\nWest Mariahaven, PA 37462",Appear break !reate recognize actually artist ...,2,x*Q-99@1
2,"$9,072",Jil!ian Harris,8823,Oth3r,l@w,sho!t,6104,897,$4797.59,Debit Ca#d,2011-06-13,80425 Joseph F!rk Apt. 5@9\nShannonborought NC...,Then !appen player th@t.,1,TOJ#!856
3,1363,!awn Br@dley,8013.28,M@le,orde!,b!l#,5471.6,1613,5202,Debit Ckrl,1988-12-20,"51117!Devin Village Suite 942\nMarkla*d, PW 72782",Enjoy am*ng up.,3,Szu@34x8
4,4298,Brya@ Pehers,9557,Oth3r,@o,bud!!t,2683.3,"8,375","6,823",U#I,1975-06-19,"836 Walke# Plains Ap#. 742\nWest Danielland, H...",Bed remember ten @art five nature occur machine.,5,l@V-!625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,6235,h@letMejia,3780.53,Fmale!,!iscussion,positio!,$316,9380.26,4465.45,Ca*#,1993-08-22,"60@29 Grant Bypass\nEast Stacyshire, NM !5*04",P!ll return offer keep.,1,qcW-!*77
49996,5045,Kathy Su@*ivan,5910,Male,qnto,re!lly,8309,1065,"6,072",Credi! Card,1970-08-15,"16911 Mark M@unt Suite 318\nGinaberg, AZz66666",Anyone dark blood lev@l.,1,TpU-@011
49997,3493,Migucl Robrrts,2378,Female,professi*nal,everythinv,$1282,"$9,325",9615,Credit C*rd,2014-01-29,"21224*Booth Springo Apt. 439\nBrianport, SD 03459",She h*gh think even himself site.,1,iaM-7**9
49998,4068.24,Sab!i#a Clayto!,8956,Fmale!,wh@h,@#l#,"5,474",5025,2865,Ca!*,2000-05-21,"115j S#even Canyon\nBanksport, CO 6#993",Quit! four acr@ss @eason game.,4,hso-9!77
49999,"$4,338",Coru Chave*,4764,Male,m!dern,#!k,"7,424","5,848.26","1,631",fa!h,2011-05-27,"6304 Travis Orchard#Apt* 308\nWendyshir*, CO 8...",Mysel* kid family.,2,vj!-365!

In [3]:
df['Gender'].value_counts()

Gender
M@le      10088
Fmale!    10050
Female    10022
Oth3r      9980
Male       9860
Name: count, dtype: int64

In [4]:
# Using replace
df['Gender']=df['Gender'].replace('M@le','Male')

In [5]:
df['Gender']=df['Gender'].replace('Fmale!','Female')

In [6]:
df['Gender']=df['Gender'].replace('Oth3r','Others')

In [7]:
df

,Customer_ID,Name,Age,Gender,Product,Category,Price,Quantity,Discount,Payment_Method,Date,Address,Review,Rating,Coupon_Code
0,$4627,Kri*ta Morris,3102,Male,c!nt!nxe,qu!ckl!,5538,5529,8294,UP#,2003-01-31,1423 Rice Isle @pt. 436\nSouth Stephaniehaveno...,Live keep c@n@ition popular up official it dis...,1,*cM-**76
1,$3295,Yvon!e Barr#ra,6444.17,Female,meason,s*ay,"8,441",2733,706,*PI,1973-05-18,"047 Henders*n Camp\nWest Mariahaven, PA 37462",Appear break !reate recognize actually artist ...,2,x*Q-99@1
2,"$9,072",Jil!ian Harris,8823,Others,l@w,sho!t,6104,897,$4797.59,Debit Ca#d,2011-06-13,80425 Joseph F!rk Apt. 5@9\nShannonborought NC...,Then !appen player th@t.,1,TOJ#!856
3,1363,!awn Br@dley,8013.28,Male,orde!,b!l#,5471.6,1613,5202,Debit Ckrl,1988-12-20,"51117!Devin Village Suite 942\nMarkla*d, PW 72782",Enjoy am*ng up.,3,Szu@34x8
4,4298,Brya@ Pehers,9557,Others,@o,bud!!t,2683.3,"8,375","6,823",U#I,1975-06-19,"836 Walke# Plains Ap#. 742\nWest Danielland, H...",Bed remember ten @art five nature occur machine.,5,l@V-!625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,6235,h@letMejia,3780.53,Female,!iscussion,positio!,$316,9380.26,4465.45,Ca*#,1993-08-22,"60@29 Grant Bypass\nEast Stacyshire, NM !5*04",P!ll return offer keep.,1,qcW-!*77
49996,5045,Kathy Su@*ivan,5910,Male,qnto,re!lly,8309,1065,"6,072",Credi! Card,1970-08-15,"16911 Mark M@unt Suite 318\nGinaberg, AZz66666",Anyone dark blood lev@l.,1,TpU-@011
49997,3493,Migucl Robrrts,2378,Female,professi*nal,everythinv,$1282,"$9,325",9615,Credit C*rd,2014-01-29,"21224*Booth Springo Apt. 439\nBrianport, SD 03459",She h*gh think even himself site.,1,iaM-7**9
49998,4068.24,Sab!i#a Clayto!,8956,Female,wh@h,@#l#,"5,474",5025,2865,Ca!*,2000-05-21,"115j S#even Canyon\nBanksport, CO 6#993",Quit! four acr@ss @eason game.,4,hso-9!77
49999,"$4,338",Coru Chave*,4764,Male,m!dern,#!k,"7,424","5,848.26","1,631",fa!h,2011-05-27,"6304 Travis Orchard#Apt* 308\nWendyshir*, CO 8...",Mysel* kid family.,2,vj!-365!

In [8]:
df['Customer_ID']

0          $4627
1          $3295
2         $9,072
3           1363
4           4298
          ...
49995       6235
49996       5045
49997       3493
49998    4068.24
49999     $4,338
Name: Customer_ID, Length: 50000, dtype: object

# Regex
- a regular expressions is a sequence of characters that defines a search pattern.
    - finding strings
    - replacing text
    - validating inputs

# basic regex syntax (regex, patterens)
Pattern                       matches
.                             any character except newline
^                             start of a string
$                             end of string
*                             0 or more repetations
+                             1 or more repetitations
?                             0 or 1 repitation
[]                            any characters inside a brackets
[^]                           not the characters inside
{n}                           exactly n repetitions
{n,}                          n or more repetitions
{n,m}                         between n and m repetitions

# Common Pattern
\d                            digit(0-9)
\D                            non-digit
\w                            wordcharacter(a-z,A-Z,0-9,_)
\W                            non_word character
\s                            Whitespace
\S                            non_white space

In [9]:
import re

In [10]:
text='apple'

In [11]:
match=re.search(r'a....',text)
if match:
    print('matched')
else:
    print('no match')

matched

In [12]:
# ^ - start of a string
text='apple 123 456'
text1='ball'
re.findall(r'^a',text)

['a']

In [13]:
# ^ - start of a string - $
text='apple 123 456'
text1='ball'
re.findall(r'456$',text)

['456']

In [14]:
# * 0 or more repetations
text='apple apple pple'
re.findall(r'p*',text)

['', 'pp', '', '', '', '', 'pp', '', '', '', 'pp', '', '', '']

In [15]:
text='apple apple pple'
re.search(r'p*',text)

In [16]:
# [] match any character inside
text='apple'
print(re.findall(r'[aeiou]',text))

['a', 'e']

In [17]:
# [] match any character not inside
text='appleaeiou'
print(re.findall(r'[^aeiou]',text))

['p', 'p', 'l']

In [18]:
# {n} exactly n repetitions
text='apppple'
re.findall(r'p{3}',text)

['ppp']

In [19]:
# {n,m} between n and m
text='appppppppple'
re.findall(r'p{2,5}',text)

['ppppp', 'pppp']

# Basic Functions in re
1. re.match(pattern,string)
-check if the pattern matchs from the begining of the string

In [20]:
text='python is fun'
print(re.match('python',text))
print(re.match('fun',text))

<re.Match object; span=(0, 6), match='python'>
None

# 2. re.search(pattern,string)
-searches the entire string for the first match

In [21]:
print(re.search('fun',text))

<re.Match object; span=(10, 13), match='fun'>

# 3. re.findall(pattern,string)
- return all matches as a list

In [22]:
print(re.findall('fun',text))

['fun']

# 4. re.sub(pattern,replace,string)
-replace all matches with something else

In [23]:
text='i love Java.Java is great'
print(re.sub('Java','',text))

i love . is great

In [24]:
print(re.sub(' ','',text))

iloveJava.Javaisgreat

# 5.re.split(pattern,string)
-split a string a regex pattern

In [25]:
text='one,two;three,four'
print(re.split('[,;]',text))

['one', 'two', 'three', 'four']

In [26]:
text='''Nepal is a landlocked country with highly diverse and rich geography, culture, and religions. It is situated in South Asia on the lap of the 
huge Himalayas surrounded by India in the east, south, and west and China in the north. It occupies an area of 147,516 sq. km. with an average of 
193km wide from North to South and an average length (East to West) is 885km. It provides a variety of geographical structures owning a large 
number of natural gifts.

We are renowned around the globe for not only our natural heritage but also for our cultural heritage. The major heritages that are listed in the 
World Heritage List such as Lumbini, Chitwan National Park, Sagarmatha National Park and many more introduce us as prosperous people of small heaven. 
Moreover, one can see several temples, and Kathmandu is a city of temples.'''
a=re.split(r'\n\s*\n',text)

In [27]:
a[0]

'Nepal is a landlocked country with highly diverse and rich geography, culture, and religions. It is situated in South Asia on the lap of the \nhuge Himalayas surrounded by India in the east, south, and west and China in the north. It occupies an area of 147,516 sq. km. with an average of \n193km wide from North to South and an average length (East to West) is 885km. It provides a variety of geographical structures owning a large \nnumber of natural gifts.'

In [28]:
a[1]

'We are renowned around the globe for not only our natural heritage but also for our cultural heritage. The major heritages that are listed in the \nWorld Heritage List such as Lumbini, Chitwan National Park, Sagarmatha National Park and many more introduce us as prosperous people of small heaven. \nMoreover, one can see several temples, and Kathmandu is a city of temples.'

In [29]:
# Extract numbers from text
text='my phone number is 98123456781234 and 9876543210 office number is 9700000000, 12345'
numbers=re.findall(r'\d+',text)
numbers

['98123456781234', '9876543210', '9700000000', '12345']

In [30]:
numbers=re.findall(r'\b9[87]\d{8}\b',text)
numbers

['9876543210', '9700000000']

In [31]:
df['Payment_Method'].value_counts()

Payment_Method
UP@            414
UP#            412
U@I            409
UP!            403
#PI            401
              ...
Cre!@# Card      1
Cr@d@* Card      1
Cre*it*qard      1
@ebit Ca!t       1
efih             1
Name: count, Length: 14673, dtype: int64

In [32]:
text='UP@'
re.sub('r[^A-Za-z]','',text)

'UP@'

In [33]:
df['Payment_Method']=df['Payment_Method']

In [34]:
def clean_text(text):
    #text=str(text)
    return re.sub(r'[A-Xa-z]','text').lower()
df['Payment_Method']=df['Payment_Method'].map(clean_text)

TypeError: sub() missing 1 required positional argument: 'string'

In [35]:
df.columns()

TypeError: 'Index' object is not callable

In [ ]:
replace_map={
    'up':'upi'
    'pi':'upi'
    'i':'upi'
    'u':'upi'
    'p':'upi'
    'ash':'cash'
    'up':''
    'up':'upi'
    'up':'upi'
    'dbncard':'Debitcard',

}