In [ ]:
Data Science 2082-04-29 (14-08-2025)

In [ ]:
Data:
1. Structured data:
    data that is organized in rows and columns (like in tables)
    fixed schema: each column has defined data type(str,int,flot)
eg: excel, sql dtabases, csv files
id          name             age
1           a                27
2           b                26
tools often used
sql,excel,pandas-python library, data analysis, data manipulation - installed used- Data science, machine learning, data engineering

In [ ]:
2. semi-structured data:
    data that has structure, but not strict as rows and columns 
    no fixed schema, but still organized using keys or tags
eg:json,xml,mangodb
id=123
{
    'name':'ashim',
    'age':'40',
    'skills':['python','AI']
}

In [ ]:
3. Unstructured data:
    data without any predefined format or structure 
    cannot be stored traditional rows/columns
    often requires preprocessing or analysis(NLP,image recogination. etc)

In [ ]:
# Pandas
-library used for data analysis and manipulation
what can pandas do:
-load the from files(csv,excel,json,sql etc)
-clean and transform messy data
-analyze and summarize data
-handle missing values
-merge,join,and reshape datasets

In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import pandas as pd

In [9]:
# Key pandas data structures 
1. Series
a one-dimentional labeled array

SyntaxError: invalid syntax (1120371260.py, line 2)

In [10]:
s=pd.Series([10,20,30,40,50,60,70,80,90])
print(s)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

2. DataFrame-A two dimentional table like an Excel sheet or sql tables

In [11]:
data={
    'Name':['anjana','John'],
    'Age':[27,26]
}
df=pd.DataFrame(data)
df

     Name  Age
0  anjana   27
1    John   26

In [12]:
import pandas as pd

In [14]:
# load the data
df=pd.read_csv('heart.xls')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [7]:
# Colaccy add data:
df1=pd.read_csv(r'C:\Users\Downloads\heart.xls')
df1

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Downloads\\heart.xls'

In [ ]:
1. age
2. sex
3. cp: chest pain type (4 values)
    - Value 0: typical angina
    - Value 1: atypical angina
    - Value 2: non-angina pain
    - Value 3: asymptomatic
4. trestbps: resting blood pressure(in mm Hg on admission to the hospital
5. chol: serum cholestoral in mg/dl
6. fbs: fasting blood sugar > 120 mg/dl(1=true; 0=false)
7. restecg: resting electrocardiographic results (values 0,1,2)
    - Value 0: normal
    - Value 1: having ST-T wave abnormality (T-wave inversions and/or ST elevation or depression of>0.05 mV)
    - Value 2: Showing probable or definite left ventricular hypertrophy by Estes criteria
8. thalach: maximum heart rate achieved
9. exang: exercise induced angina
10. oldpeak: oldpeak = ST depression induced by exercise relative to rest
11. slope: the slope of the peak exercise ST segment
    - value 1: upsloping
    - value 2: flat
    - value 3: downsloping
12. ca: number of major vessels (0-3) colored by flourosopy
13. thal: 0 = normal; 1 = fixed defect; 2 = reversable defect
14. target: 0=less chance of heart attack, 1= more chance of heart attack
- The names and social security numbers of the patients were recently removed from the database, replaced with dummy values.

In [15]:
2. View the data

SyntaxError: invalid syntax (2423653544.py, line 1)

In [16]:
# peek at the top/bottom rows
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

In [17]:
df.tail(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [21]:
# view random rows
df.sample(12)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
111,53,1,0,142,226,0,0,111,1,0.0,2,0,3,1
537,52,1,1,120,325,0,1,172,0,0.2,2,0,2,1
920,39,1,0,118,219,0,1,140,0,1.2,1,0,3,0
996,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
291,58,1,0,128,259,0,0,130,1,3.0,1,2,3,0
893,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
510,54,0,1,132,288,1,0,159,1,0.0,2,1,2,1
957,50,1,2,140,233,0,1,163,0,0.6,1,1,3,0
163,48,1,0,124,274,0,0,166,0,0.5,1,0,3,0
257,64,0,0,180,325,0,1,154,1,0.0,2,0,2,1
599,63,0,1,140,195,0,1,179,0,0.0,2,2,2,1
741,41,0,2,112,268,0,0,172,1,0.0,2,0,2,1

In [20]:
3. Understand the structure

SyntaxError: invalid syntax (1715591694.py, line 1)

In [12]:
# shape of dataset(no. of rows and no. of columns)
df.shape

(1025, 14)

In [13]:
# to find all the columns name
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [14]:
# data types of columns
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [15]:
# overall information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [18]:
# summary statistics (for numeric columns)
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [19]:
# summary statistics (for numeric columns)
df.describe().loc['mean']

age          54.434146
sex           0.695610
cp            0.942439
trestbps    131.611707
chol        246.000000
fbs           0.149268
restecg       0.529756
thalach     149.114146
exang         0.336585
oldpeak       1.071512
slope         1.385366
ca            0.754146
thal          2.323902
target        0.513171
Name: mean, dtype: float64

In [22]:
# Acess columns
df[['age','cp']]

      age  cp
0      52   0
1      53   0
2      70   0
3      61   0
4      62   0
...   ...  ..
1020   59   1
1021   60   0
1022   47   0
1023   50   0
1024   54   0

[1025 rows x 2 columns]

In [24]:
# Access columns info
# calculate average of columns
df['age'].mean()

np.float64(54.43414634146342)

In [25]:
# max() to find maximum values in the dataset
df['age'].max()

np.int64(77)

In [26]:
# max() to find minimum values in the dataset
df['age'].min()

np.int64(29)

In [28]:
# check for the missing data
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [29]:
# check for duplicates values
df.duplicated().sum()

np.int64(723)

In [33]:
# remove the duplicates values
df=df.drop_duplicates()

In [24]:
df[['age','sex']]

      age  sex
0      52    1
1      53    1
2      70    1
3      61    1
4      62    0
...   ...  ...
1020   59    1
1021   60    1
1022   47    1
1023   50    0
1024   54    1

[1025 rows x 2 columns]

In [26]:
df.iloc[12:48]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
12,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
13,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0
14,52,1,0,128,204,1,1,156,1,1.0,1,0,0,0
15,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
16,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
17,54,1,0,124,266,0,0,109,1,2.2,1,1,3,0
18,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
19,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
20,60,1,2,140,185,0,0,155,0,3.0,1,0,2,0
21,67,0,0,106,223,0,1,142,0,0.3,2,2,2,1
22,45,1,0,104,208,0,0,148,1,3.0,1,0,2,1
23,63,0,2,135,252,0,0,172,0,0.0,2,0,2,1
24,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1
25,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
26,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1
27,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
28,56,1,2,130,256,1,0,142,1,0.6,1,1,1,0
29,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
30,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
31,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
32,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
33,70,1,2,160,269,0,1,112,1,2.9,1,1,3,0
34,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1
35,46,1,2,150,231,0,1,147,0,3.6,1,0,2,0
36,51,1,3,125,213,0,0,125,1,1.4,2,1,2,1
37,59,1,0,138,271,0,0,182,0,0.0,2,0,2,1
38,64,1,0,128,263,0,1,105,1,0.2,1,1,3,1
39,57,1,2,128,229,0,0,150,0,0.4,1,1,3,0
40,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
41,54,1,2,120,258,0,0,147,0,0.4,1,0,3,1
42,61,0,0,130,330,0,0,169,0,0.0,2,0,2,0
43,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
44,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1
45,42,1,0,140,226,0,1,178,0,0.0,2,0,2,1
46,41,1,1,135,203,0,1,132,0,0.0,1,0,1,1
47,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0

In [34]:
# Filtering Data
df[df['age'] < 30]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
60,29,1,1,130,204,0,0,202,0,0.0,2,0,2,1

In [49]:
df11=df[(df['age']>=30) & (df['age']<=40)]
df11

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
12,34,0,1,118,210,0,1,192,0,0.7,2,0,2,1
52,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
68,37,0,2,120,215,0,1,170,0,0.0,2,0,2,1
108,40,1,0,152,223,0,1,181,0,0.0,2,0,3,0
143,34,1,3,118,182,0,0,174,0,0.0,2,0,2,1
145,40,1,0,110,167,0,0,114,1,2.0,1,0,3,0
149,39,1,2,140,321,0,0,182,0,0.0,2,0,2,1
156,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1
173,39,0,2,94,199,0,1,179,0,0.0,2,0,2,1
248,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1
254,35,1,0,120,198,0,1,130,1,1.6,1,0,3,0
256,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1
258,38,1,3,120,231,0,1,182,1,3.8,1,0,3,0
281,35,1,1,122,192,0,1,174,0,0.0,2,0,2,1
332,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
384,35,1,0,126,282,0,0,156,1,0.0,2,0,3,0
694,39,1,0,118,219,0,1,140,0,1.2,1,0,3,0

In [50]:
df11.shape

(17, 14)

In [47]:
df11=df[(df['age']>=40) & (df['age']<=50)]
df11

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
11,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
18,50,0,1,120,244,0,1,162,0,1.1,2,0,2,1
22,45,1,0,104,208,0,0,148,1,3.0,1,0,2,1
24,42,0,2,120,209,0,1,173,0,0.0,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,44,1,2,140,235,0,0,180,0,0.0,2,0,2,1
566,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
580,46,1,1,101,197,1,1,156,0,0.0,2,0,3,1
616,43,1,0,115,303,0,1,181,0,1.2,1,0,2,1
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1

In [48]:
df11.shape

(79, 14)

In [45]:
df11=df[(df['age']>=50) & (df['age']<=60)]
df11

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,60,0,2,120,178,1,1,96,0,0.0,2,0,2,1
719,52,1,0,108,233,1,1,147,0,0.1,2,3,3,1
739,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0
843,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [46]:
df11.shape

(136, 14)

In [58]:
# Adding or removing columns 
df['salary']=df['trestbps']+df['chol']

In [59]:
# Drop the column
df.drop('salary',axis=1,inplace=True)

In [56]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
739,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0
843,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [61]:
# sorting data
df.sort_values('chol')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
101,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1
32,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
81,49,1,2,118,149,0,0,126,0,0.8,2,3,2,0
10,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,62,0,0,140,394,0,0,157,0,1.2,1,0,2,1
450,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
179,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
123,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
158,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1

In [63]:
df.sort_values('chol',ascending=False).head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
158,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1
123,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
179,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
450,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
255,62,0,0,140,394,0,0,157,0,1.2,1,0,2,1
40,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
167,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
252,55,1,0,132,353,0,1,132,1,1.2,1,1,3,0
44,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1
11,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0

In [64]:
df['age'].mean()

np.float64(54.420529801324506)

In [65]:
df['age'].max()

np.int64(77)

In [66]:
df['age'].min()

np.int64(29)

In [67]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [68]:
df.to_csv('output.csv')

In [70]:
df.to_csv('output_index.csv',index=False)

In [ ]:
Summary table
task                 command
read csv             pd.read_csv('file.csv')
view data            df.head(),df.tail(),df.sample()
select column        df['col']
filter row           df[df['col']] > val]
add columns          df['new_column']=values
remove column        df.drop('col',axis=1)
sort data            df.sort_values('col')
export csv           df.to_csv('file.csv',index=False)