In [1]:
a=20
b=30
c=a+b
print('This is sum of two numbers :'c,'First number is:'a, 'Second number is:'b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (323813587.py, line 4)

In [ ]:
# Take input from user
input()

In [ ]:
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
sum=a+b
print('sum is',sum)

In [ ]:
# enter 3 input from user and perform multiplication and display the results

In [ ]:
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a*b*c
print('multi is',sum)

In [ ]:
#Operators
-are special symbol or keywords to perform operations on variables and value
1.Arithmetic operators
-basic math operators

In [ ]:
Arithmetic operators
operators                   meaning                     example
+                           addition
-                           subtraction
*                           multiply
/                           division
//                          floor Division             5//2=2
%                           modules                    5%2=1
**                          exponent(power)            2**2=4

In [ ]:
a=23
b=10
print('normal division',a/b)
print('floor division',a//b)
print('reminder',a%b)
print('power',a**b)

In [ ]:
#Addition
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a+b+c
print('sum is',sum)

In [ ]:
#Substraction
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a-b-c
print('substraction is',sum)

In [ ]:
#Multiply
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a*b*c
print('multi is',sum)

In [ ]:
#Division
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a/b/c
print('division is',sum)

In [ ]:
#Floor Division
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a//b//c
print('floor division is',sum)

In [ ]:
#Modules
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a%b%c
print('modules is',sum)

In [ ]:
#Exponent(Power)
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a**b**c
print('exponent (power) is',sum)

In [ ]:
# Assignment Operators 
assign operators are used to assign values to variables

operator             meaning                example
=                    assign                 x=5

In [ ]:
# Comparison Operators
operator                      name                         example
==                            equal                        x==y
!=                            not equal                    x!=y
>                             greater than                 x>y
<                             less than                    x<y
>=                            greater than or equal to     x>=y
<=                            less than or equal to        x<=y

In [ ]:
a=56
b=6
print(a!=b)

In [ ]:
a=56
b=6
print(a==b)

In [ ]:
a=56
b=6
print(a>=b)

In [ ]:
a=56
b=6
print(a<=b)

In [ ]:
# Check a person can vote?
a=20
a>=18 and a>=30

In [ ]:
# Logical operators
- are used to combine conditional statements 
operator               meaning                                           example
and                    return true if both statement are true            x<5 and x<10
or                     return true if any statement is true              x>5 or x<20
not                    reverse the result                                not()

In [ ]:
# check the age of person lies between 30 to 50
age=int(input('enter the age of a person'))
age>30 and age<=50

In [ ]:
# check if age of person if teen or senior citizen
age=int(input('enter the age of a person'))
age<18 or age>60

In [ ]:
# Enter a nubmer from user and add 30 to that using add and assign operators
# Enter a nubmer from user and sub 30 to that using add and assign operators
# Check whether 3 is divisible by 2
# Enter 2 number5s and check if they are not equal
# Enter number from user and check if it is greater than 100 or smaller than 50

In [ ]:
# Conditional Statements
- are used to make decisions in code
- they allow your program to execute certain blocks only if conditions are met

In [ ]:
# if Statement:
-control structure that runs a block of code only if the condition is true
syntax:
if condition:
   code

In [ ]:
age=34
if age >=18:
    print('this person can vote')

In [ ]:
# if / else Statements
- runs in both condition
syntax:
if condition:
    #code
else:
    #code

In [ ]:
age=34
if age >=18:
    print('this person can vote')
else:
    print('this person cannot vote')

In [ ]:
# find whether the given number is even or odd

In [ ]:
# Input from the user
num = int(input('Enter a number'))

# Check if the number is even or odd
if num % 2 == 0:
    print(f'{num} is even.')
else:
    print(f'{num} is odd.')

In [ ]:
# if-else-else statement
-allows checking multiple conditions in sequence
syntax:
if condition:
    #Code
else condition:
    #code
...
elae
    #code

In [ ]:
#check the greatest number among three
a=int(input('Enter a number 1'))
b=int(input('Enter a number 2'))
c=int(input('Enter a number 3'))
if a>b and a>c:
    print('the greatest number is a', a)
else b>a and b>c:
    print('the greatest number is b', b)
else c>a and c>b:
    print('the greatest number is c', c)
else:
    print('the greastest number are none',a,b,c)

In [ ]:
#find whether the given number is positive negative or zero

In [ ]:
# Check if the number is positive, negative, or zero
a=-25
if a>0:
    print('+ve')
elif a<0:
    print('-ve')
else:
    print('zero')

In [ ]:
# Write a program to check the weather condition based on temperature input
#input the marks of a students and display the grade
#enter the number and find even or odd. if even divide it by 4 and display the value. if odd add 20 to the value and display

In [ ]:
# nested if
- an if (or elif or else) block that contain another if (or elif or else) statement:
syntax:
if condition:
    if condition:
        #code

In [ ]:
x=15
if x>10:
    print('greater than 10')
    if x<20:
        print('x is between 10 and 20')
    else:
        print('x is greater than 20')
else:
    print('smaller than 10')

In [ ]:
# WAP to check:
-whether a number is positive or negative, and 
    -if positive, also check whether its even or odd
-enter the age of person and check whether he is teen, adult or senior
    -if senior than check whether his age is greater than 80 or not

In [ ]:
# Data Types
1. List
- list are used to store multiple items in a single variable
- store collections of data
- created by []
- list is mutable(changable)
- list is heterogeneous in nature
- list allows duplicate value
- list items are ordered
- list items are indexed.the first item has index[0], the second has[1] and so on...

In [ ]:
a=[0,1,2,3,4,5,6,7,8,9,10, 25.56, 'Ashim', 'Apple', True, 1,2,3,4,5,6,7,8,9,10]
print(a)

In [ ]:
#List Length
- to determine how many items a list has, we use the len() function

In [ ]:
len(a)

In [ ]:
# Access list items

In [ ]:
#indexing
thislist=['apple','mango','cherry']

In [ ]:
thislist[1]

In [ ]:
a[9]

In [ ]:
a[-9]

In [ ]:
positive indexing-starts from 0,starting position of list
negative indexing-starts from -1,ending position of list

In [ ]:
a=['apple',34,56,12,33.4,'orange','papaya',234,567]

In [ ]:
acess 3rd and 5th element using +ve and -ve indexing,56,33.4

In [ ]:
print(a[-5])
print(a[-7])

In [ ]:
a

In [ ]:
['apple',34,56,12,33.4,'orange','papaya',234,567]

In [ ]:
a[2:8]

In [ ]:
a[:8]

In [ ]:
#indexing
thislist=['apple','mango','cherry']

In [ ]:
thislist[1][3]

# Change item Value
-to change the value of specific item, refer to the index number

In [ ]:
thislist[2]='pineapple'
print(thislist)

In [ ]:
# Change a range of item values
thislist[1:3]=['orange','kiwi', 'banana']
thislist

In [ ]:
# create a list having 8 elements, change the 3rd and 7the item
# create a list of fruits and replace mango with orange
# create a list and acess the third last element using -ve and +ve index

In [ ]:
eightlist=['Ram','Uma','Ashim','Sumitra','Jiban','Rajani','Nanin','Sabina']

In [ ]:
print(eightlist)

# Add list items

In [ ]:
thislist=['apple','orange','papaya','cherry']

In [ ]:
#to add an item to the end of the list,use append()method
thislist.append('pineapple')
print(thislist)

In [ ]:
#to insert a list item at a specified index,we use insert()
thislist.insert(2,'banana')
print(thislist)

In [ ]:
# insert5 using range
thislist[3:3]=['mango','grapes']
print(thislist)

# Extend list
- to append elements from another list to the current list,use the extend()method

In [ ]:
new_fruits=['dragon_fruit','kiwi','malta']
thislist.extend(new_fruits)
print(thislist)

# Remove List items

In [ ]:
# remote specified item
-the remove()method removes the specified items

In [ ]:
thislist.remove('dragon_fruit')
thislist

In [ ]:
#remove specified index
-the pop()method removes the specified index

In [ ]:
thislist.pop(2)

In [ ]:
thislist

In [ ]:
thislist.pop()

In [ ]:
thislist.pop()

In [ ]:
del thislist[0]

In [ ]:
thislist

In [ ]:
# clear the list
- the clear() method empties the list
-

In [ ]:
list1=[1,2,3,4,5,6,7,8]

In [ ]:
list1.clear()

In [ ]:
print(list1)

In [ ]:
a.append('apple')

In [ ]:
print(a)

# Nested list
- a nested list is a list inside another list

In [ ]:
nested=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [ ]:
nested[0][2]

In [ ]:
#modifying list

In [ ]:
nested[1][1]=99
print(nested)

In [ ]:
# change value of 8 as 88

In [ ]:
nested[2][1]=88
print(nested)

In [ ]:
# add new items
nested[1].append(10)
nested

In [ ]:
nested.append([0,1,2])
nested

In [ ]:
# insert into specific position
nested.insert(1,[100,200])
nested

In [ ]:
# insert into specific position
nested[1].insert(1,200)
nested

In [ ]:
nested[1][2][1]

In [ ]:
# create a list having 10 elements, add new lements at 3rd position and 
remove the last item
# create a nested list and 67 to 3rd list
# create a list and perform all the opeartion in changing a list

In [ ]:
# Tuple
- used to store collections of data 
- tuple is a collection of ordered data and unchangeable 
- tuples are written with round brackets()
- allow duplicates items

In [ ]:
thistuple=('apple','banana','cherry','apple')

In [ ]:
thistuple.append('mango')

In [ ]:
thistuple[1]

In [ ]:
len(thistuple)

In [ ]:
# once tuple is created, u cannot change it values. tuples are unchangeable or immutable.
# hut there is workaround.
# steps to edit tuples
- convert tuples into list
- change the list
- convert the list back into tuple

In [ ]:
tuple1=(12,13,'apple','mango',45,46,'papaya')
tuple1

In [ ]:
# Convert into list
list1=list(tuple1)
list1

In [ ]:
list1.append('peaches')

In [ ]:
list1

In [ ]:
# Convert back into tuples
tuple1= tuple(list1)
tuple1

In [ ]:
# create a tuple having 5 subjects, replace english suject with math...

In [ ]:
# Set
- are ued to stored multiple items in single variables
- set are unordered, unchangeable* and unindexed
- does not support any duplicates items
- sets are written with curly brackets

In [ ]:
thisset={1,2,3,4,5,6,1,2,34,5,6,1,2,12,1,2,1,2}
thisset

# Add set items
- to add one item to a set use the add() method

In [ ]:
thisset.add('orange')
thisset

- to add items from another set into current set, use the update() method

In [ ]:
tropical={'pineapple','mango','papaya'}
thisset.update(tropical)
print(thisset)

In [ ]:
# remove item in sets
- remove particular item by using remove () method

In [ ]:
thisset.remove(12)

In [ ]:
print(thisset)

In [ ]:
thisset.discard(12)

In [ ]:
# Join sets
- union() - methods joins all items all items from both sets
- intersection() - methods keeps only the common in both/only duplicates
- difference () - methods keeps the items from the first set

In [ ]:
# Union
set1={'a','b','c'}
set2={1,2,3}

set3=set1.union(set2)
print(set3)

In [ ]:
# Union
set1={'a','b','c'}
set2={1,2,3}
set4={6,7,90}

set3=set1 | (set2) | set4
print(set3)

In [ ]:
# intersection 
set1={'apple','banana',1,2,3,4,5,6,7}
set2={'apple','banana',3,4,5,6,7,8,9,0}
set3=set1 & set2
print(set3)

In [ ]:
# difference
set1={'apple','banana',1,2,3,4,5,6,7}
set2={'google','apple',3,4,5,6,7,8,9,0}
set3=set2.difference(set1)
print(set3)

In [ ]:
# difference
set1={'apple','banana',1,2,3,4,5,6,7}
set2={'google','apple',3,4,5,6,7,8,9,0}
set3=set2-set1
print(set3)

In [ ]:
# Dictionary
- items are ordered, changeble and do not allow duplicates
- items are presented in key-value pairs
- each key is linked to a value 
- {}
syntax:
dict={
    key1:value1,
    key2:value2
}

In [ ]:
person={
    'name':['Ashim','John','Aanu'],
    'age': [40,39,26],
    'city':['ktm','ilam','lalitpur']
}
print(person)

In [ ]:
#accessing the items in dict
person['name']

In [ ]:
# there is also a method called get() that will give you the same result
x=person.get('age')
print(x)

In [ ]:
# get keys(the keys()method that will return a list of all keys in dict)
person.key()

In [ ]:
dict_keys(['name','age','city'])

In [ ]:
person.value()

In [ ]:
dict_values([['Anjana',]])

# Change dictionary items

In [ ]:
thisdict={
    'brand':'Ford',
    'model':'Mustang',
    'year':1964
}

In [ ]:
thisdict['year']=2018

In [ ]:
print(thisdict)

In [ ]:
# update the year of the car by using update() method
thisdict.update({'year':2020})
print(thisdict)

# Add Dictionary Items

In [ ]:
# adding items
adding an item to the dict is done by using new index key and assigning a value

In [ ]:
thisdict['color']='red'

In [ ]:
print(thisdict)

In [ ]:
thisdict.update({'colors':'blues'})

In [ ]:
print(thisdict)

# Remove dictionary items

In [ ]:
there are several methods to remove items
-pop()-> removes the item with the specified key name
popitem() -> remoe the last inserted items
-del -> removes the item with the specified key name
- clear

In [ ]:
thisdict.pop('colors')
print(thisdict)

In [ ]:
thisdict.popitem()
print(thisdict)

In [ ]:
del thisdict['model']
print(thisdict)

In [ ]:
del thisdict

In [ ]:
print(thisdict)

In [ ]:
# create a dictionary of employee, and add salary of the employee, edit the id to 5, then remove the name of employee

In [ ]:
thisdict1={
    'employee':'Engineer',
    'salary':'35,000',
    'id':5,
    'name':'Ashim'
}

In [ ]:
print(thisdict1)

In [ ]:
del thisdict1['Ashim']
print(thisdict1)

In [ ]:
del thisdict1

In [ ]:
print(thisdict1)

In [ ]:
1,2,3,4,5,6,7,8,9,

In [ ]:
# Loop in python
-loops are used to repeatedly execute a block of code
# the primary types of loops:
1.for loop - used to iterate over a sequence(like list, dict.tuple,string etc
syntax:
for variable in a sequence:
    # code to be executed
2.while loop - repeats while condition is true(when you know the end condition)
while condition:
    # code

In [ ]:
# for loop
fruits=['apple','banana','mango','oranges'] # execute a block of code for each item
for i in fruits:
    print(i)         # i=apple

In [ ]:
for char in 'hello':
    print(char)

In [ ]:
# Find the even or odd numbers in a list
a=[12,34,45,67,78,90,12,34,23,45,37,89,22,44,55,77,99]
for i in a:
    if i%2==0:
        print('the number is even',i)
    else:
        print('the given number is odd',i)

In [ ]:
# Find the even or odd numbers in a list
a=[12,34,45,67,78,90,12,34,23,45,37,89,22,44,55,77,99]
even=[]
odd=[]
for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print('list of even numbers',even)
print('list of odd numbers',odd)

In [ ]:
# Find the even or odd numbers in a list if even display the result by adding 20
# enter 10 numbers in a list and check whether they are divisible by 3 and 5 or not, by 3 only, by 5 only or none

a=[45,75,80,95,78,90,60,70,99,100]
even=[]
odd=[]
for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print('list of even numbers',even)
print('list of odd numbers',odd)

In [ ]:
# range () function with a for loop
-controlling how much times a loops runs
range() - it returns a sequence of numbers, which you can loop over using for loop
syntax:
range(stop)
range(start,stop)
range(start,stop,step)

In [ ]:
# print numbers from 0 to 9
for i in range(9):
    print(i)

In [ ]:
# print number from 5 to 50
for i in range(5,20):
    print(i)

In [ ]:
for i in range(1,20,2):
    print(i)

In [ ]:
# Loop backward
for i in range(5,0,-1):
    print(i)

In [ ]:
# prints numbers from 90 to 9, as reverse multiple of 9 # Assignment-1
for i in range(90,9,-9):
    print(i)

In [ ]:
# print even numbers between 20 to 50 # Assignment-2
for i in range(20,51,2):
    print(i)

In [ ]:
# print squares of numbers in range 1 to 10 # Assignmnet -3
for i in range(1,11):
    print(f'{i} square is {i**2}')

In [ ]:
# print multiplication of 7 # Assignment-4
for i in range(1, 11):
    print(f'7 x {i} = {7 * i}')

In [ ]:
# in a collection of list, check the given number is +ve, -ve or zero #

numbers = [1, -3, 6, 9, -12, 15, 18, -21, -24, -27]
for num in numbers:
    if num > 0:
        print(f'{num} is positive')
    elif num < 0:
        print(f'{num} is negative')
    else:
        print(f'{num} is zero')

In [ ]:
# print factorial of a number
num=int(input('enter a number'))
fact=1
if num<0:
    print('factorial of -ve numbers doesnot exist')
elif num==0:
    print('the factorial of 0 is 1')
for i in range (1, num+1):
        fact *=i
print('the factorial is',fact)

In [ ]:
# enter 10 names and find whether they are even or odd, seperate then on different list
name=['anjana','john','anu','michel','tulsi','sammy','asmi','aashi','kim','ashok']
even=[]
odd=[]
for i in name: 
    if len(i)%2==0:
        even.append(i)
    else:
        odd.append(i)
print('even number of list',even)
print('collection of odd',odd)

In [ ]:
a=[1,2,3,4,5,6,7]
for i in a:
    if i%2==0:
        print('even',i)

In [ ]:
if 1%2==0:
        print('even')

In [ ]:
if 2%2==0:
        print('even')

In [ ]:
if 3%2==0:
        print('even')

In [ ]:
if 4%2==0:
        print('even')

In [ ]:
# while loop
a=10
while a>=20:
    print(a)
    a=a+3

In [ ]:
# print i as long as i is less than 10
i=1
while i<10:
    print(i)
    i +=1

In [ ]:
# print even number 1 to 10
i=1
while i<=10:
    if i%==0:
    print('even',i)
    i +=1
else:
    print('the number is greater than 10',i)

In [ ]:
# else statement

In [ ]:
# display the square of number upto 10
for i in range(1,11):
    print(f'{i} square is {i**2}')

In [ ]:
# sum of first 10 natural numbers
i=1
total=0
while i<=10:
    total +=i
    i +=1
print('sum of 10 natural number',total)

In [ ]:
# ask the user to enter a password(correct)
password=''
while password !='1234':
    print('password is incorrect')
    password=input('enter a password')

print('access granted')

In [ ]:
#infinite loop
i=1
while True:
    print(i)
    if i==100:
        break
    i +=1

In [ ]:
# Loop through a string and count the number of vowels
# Keep asking the user for number until 0
# Print the multilication of 11 using while loop
# print only even number between 1 to 50 using while loop
# Keep printing 'hello' until the user types stop

In [ ]:
# Loop through a string and count the number of vowels
text='hello world'
count=0
for char in text:
    char=char.lower()
    if char =='a' or char =='e' or char=='i' or char=='o' or char=='u':
        count +=1

print('number of vowels',count)

In [ ]:
# cases
-lower case -- lower()
-upper case -- upper()

In [ ]:
a='APPLE'
a.lower()

In [ ]:
b='mango'
b.upper()

In [ ]:
#Identity Operators
-are used to compare the objects, not if they are equal but if they are actually the same object, with same memory location
operator                             description                     example
is           returns true if both variaables are the same object      x is y
is not       returns true if both variaables are not the same object    x is not

In [ ]:
a=5
b=5

In [ ]:
x=500
y=500
z=x

In [ ]:
x is not y

In [ ]:
a=5
b=5
c=a

In [ ]:
x is not y

In [ ]:
# Membership Operators
Operator                description
in                     returns true if a sequence with the specified value is present in object
not in                 returns true if a sequence with the specified value is not present in object

In [ ]:
x=['apple','banana']
print('app' in x)

In [ ]:
text='hEllO world'
vowels='aeiou'
count=0
for char in text:
    char=char.lower()
    if char in vowels:
        count +=1
print('number of vowels',count)

In [ ]:
# Function
-blok of code which is designed to perfomr specific task
- it's not a main program
-more organized
-resuable
-easier to test and maintain
-it allows us to encapsulate logic
-code is more organied and easier to understand

#how functions works
1. defined using def keyword
2. stored in momery under thir name
3. called when referenced with parehthesis function_name()

# syntax
def function_name(parameters):
    #code
    return

function_name()

In [ ]:
def add_two_numbers():
    a=30
    b=20
    print(a+b)
add_two_numbers()

In [ ]:
#Function with return type
def add_two_numbers():
    a=30
    b=20
    return a+b
add_two_numbers()
print('sum of two numbers is',a)

In [ ]:
a=20
def add_two_numbers(e,f):
    print(a)
    return e*f
    
e=add_two_numbers(40, 30)
print('multi',e)
print(a)

In [ ]:
# Create a function for adding 3 variables
# chaeck whether a number is divisible by 2 in a functions(with return type and without return type)

In [ ]:
# Create a function for adding 3 variables
def add_three_numbers():
    a=30
    b=20
    c=50
    print(a+b+c)
add_three_numbers()

In [ ]:
# chaeck whether a number is divisible by 2 in a functions(with return type and without return type)
def divisible_by_two(a):
    if a%2==0:
        print('the numbers is divisible by 2',a)
    else:
        print('the numbers is not divisible by 2',a)

divisible_by_two(12)

In [ ]:
def divisible_by_two(a):
    if a%2==0:
        print('divisible by 2')
    else:
        print('not divisible by 2')

divisible_by_two(13)

In [ ]:
1. Function without Arguments
- a function that takes no input - it just does something when called.

def greet():
    print('hello world')
greet()

In [ ]:
# Function with Arguments
1. Positional arguments (fixed arguments)
- we define a function that takes a fixed number of parameners (arguments), and we must provide them in order

In [ ]:
def substract(b,a):
    c=a-b
    return c
a=substract(20,30)
print('the substract is',a)

# Named(keyword arguments)
-while calling a function, we explicity specify parameter names. This makes the code clear and order does not

In [ ]:
def substract(b,a,c):
    c=a-b-c
    return c
a=substract(a=20,c=30,b=40)
print('the substract is',a)

In [ ]:
# Default arguments 
- provide default values to some or all parameters so the user may skip them during the call.

In [ ]:
def add(a,b,c,d=20,e=10):
    sum=a+b+c+d
    print('the sum is:',sum)
add(12,20,30,50)

In [ ]:
# pass 5 inputs from user, add the first three variables and divide them by sum of remaining two variable.
#one of them must be default
def add(a,b,c,d,e=10):
    sum=a+b+c
    print('the sum is:',sum)
    div=(sum)/(d+e)
    print('the div is',div)
add(12,20,30,50)

In [ ]:
# palindrome is a string that reads same forward and backward

In [ ]:
a='apple'

b=a[::-1]
if a==b:
    print('the word is palindrome')
else:
    print('it is not palindrome')

In [ ]:
def palindrome(a):
    cleaned=a.replace('','').lower()
    b=cleaned[::-1]
    
    if cleaned==b:
        print('the word is palindrome')
    else:
        print('it is not palindrome')

palindrome('Was it a car or a cat I saw')

In [ ]:
# even or odd
# sum of three numbers
# maximum among three
# check whether given number is muliple of 3,5 or both
# claculate the area of circle
# factorial of number
# check palindrome of a number
# count vowels in a string
# fibonacci series upto N terms
# check prime numbers

In [ ]:
# fibonacci series upto N terms
0 1 1 2 3 5 8 13 21 34 ...
f(n)=f(n-1)+f(n-2)

In [ ]:
def fibonacci(n):
    a,b=0,1
    for i in range(n):
        print(a,end=' ')
        a,b=b,a+b
fibonacci(20)

In [ ]:
a=b   --1
b=a+b---1

In [ ]:
def fibonacci(n):
    a,b=0,1
    temp=0
    series=[]
    for i in range(n):
        print(a,end=' ')
        series.append(a)
        temp=a
        a=b
        b=temp+b
        return series
a=fibonacci(10)
a=fibonacci(20)
print('the series with 10 items',a)
print('the series with 20 items',b)

In [ ]:
prime -divided by either 1 or itself
2,n-1

In [ ]:
def is_prime(n):
    if n<2:
        return false
    for i in range(2,n):
        if n%i ==0:
            return False
    return True

print(is_prime(21))

In [ ]:
# Arbitrary Arguments
-*args --> for arbitrary positional arguments
-- you don't know how many values/arguments a user might pass
-** kwargs --> for arbitrary keyword arguments
--your want to accept key_value pairs (like dictionaries) as arguments

In [ ]:
def add_numbers(*args):
    total=0
    for num in args:
        total +=num
    return total
   
    #print(result)
add_numbers(1,2,3,4,5,1,2,45,78,0,8,4231,56,788,5,3232,56.4,12,34,56,7,8,9,0,1234,4534,4546,78989)

In [ ]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}:{value}')
print_info(name=['ashim','anjana'],city='ktm',age=40)

In [ ]:
def mixed_args(a,*args,**kwargs):
    print('first',a)
    print('other positional arguments',args)
    print('keyword args',kwargs)
mixed_args(1,2,3,4,5,6,x=10,y=20)

In [ ]:

def add(a,b):
    return a+b
def substract(c):
    result=add(3,4)-c
    return result

subtract(2)

In [ ]:
function
define
arguments
pass
revision (HW)

# Class and object
- A class in python is a blueprint for creating objects
- think a class as a templete, and the objects you create from its as real-world instances of that templete
- class keyword is used to define a class

In [ ]:
#create a class
class Person: 
    def namee(self):
        print('a is the name of person')
    def add(self,a,b):
        c=a+b
        print('the sum of two number is',c)
    def sub(self):
        c=a-b
        
# create an object
obj=Person()
obj.namee()

# call add function
obj.add(20,30)

In [ ]:
# class create 
class Myclass:
    # data +attributes
    x=5

# create object
p1=Myclass()
p1.x

In [ ]:
# the__init__() method
class Arithmrtic:
    def __init__(self,a,b,c,d):
        self.a=a
        self.b=b
        self.c=c
        self.d=d
    def add(self,c):
        self.add=self.a+self.b+c
        return self.add
    def sub(self,a):
        sub=self.c-self.d+self.add
        return sub

# create an object
obj=Arithmrtic(10,20,300,250)

#acess sub
subb=obj.sub()
print('the subtraction of two number is',subb)

#acess add
subb=obj.add(50)
print('the addition of two number is',subb)

In [ ]:
# create a class and calculate the simple interest suing __init__ method
class SimpleInterest:
    def __init__(self, principle, rate, time):
        self.principle = principle
        self.rate = rate
        self.time = time

    def calculate_interest(self):
        interest = (self.principle * self.rate * self.time)/100
        return interest
        
# create an object
si = SimpleInterest(1000, 5, 2)

In [ ]:
#
1. create a class Dog, incluse class add attribute name .Print its name
    Add a method to the dog class called bark() that prints 'woof'

2. create an class shape, pass the needed data in __init__method and calculate the area of rectangle, square, triangle in different methods

3. Create a class as Animal and add properties of animal

4. create a class result, pass the marks of student individual subject that calculate the percentages obtained by student

In [ ]:
# 1. Solutions
    
class Dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        print("woof")

my_dog = Dog("Bhaire")

print(my_dog.name)

my_dog.bark()

In [ ]:
# 2. Solutions
class Shape:
    def __init__(self, length=0, width=0, side=0, base=0, height=0):
        self.length = length
        self.width = width
        self.side = side
        self.base = base
        self.height = height

    def area_rectangle(self):
        return self.length * self.width

    def area_square(self):
        return self.side * self.side

    def area_triangle(self):
        return 0.5 * self.base * self.height

shape = Shape(length=10, width=5, side=4, base=6, height=3)

print("Area of Rectangle:", shape.area_rectangle())  # 10 * 5 = 50
print("Area of Square:", shape.area_square())        # 4 * 4 = 16
print("Area of Triangle:", shape.area_triangle())    # 0.5 * 6 * 3 = 9

In [ ]:
# 3. Solutions
class Animal:
    def __init__(self, species, name, age, color, sound):
        self.species = species  
        self.name = name        
        self.age = age        
        self.color = color    
        self.sound = sound      

    def make_sound(self):
        print(f"{self.name} says {self.sound}")

    def describe(self):
        print(f"{self.name} is a {self.age}-year-old {self.color} {self.species}.")

animal1 = Animal("Dog", "Bhaire", 5, "brown", "woof")
animal1.describe()
animal1.make_sound()

In [ ]:
# 4. Solutions
class Result:
    def __init__(self, marks):
        self.marks = marks

    def calculate_percentage(self):
        total_marks_obtained = sum(self.marks.values())
        total_subjects = len(self.marks)
        max_marks_per_subject = 100
        total_max_marks = max_marks_per_subject * total_subjects

        percentage = (total_marks_obtained / total_max_marks) * 100
        return percentage

marks = {'Math': 85, 'English': 90, 'Science': 78, 'History': 88, 'Nepali': 82}
student_result = Result(marks)

print("Percentage obtained:", student_result.calculate_percentage())

In [ ]:
class Result:
    def __init__(self, marks):
        self.marks = marks
        self.total_marks=sum(marks.values())
        self.subject_coult=len(marks)
    def calculate_percentage(self):
   
        per = (self.total_marks/ (self.subject_count*100)) *100
        return per

marks = {
    'Math': 85, 
    'English': 78, 
    'Science': 92, 
    'History': 74, 
    'Computer': 88,
    'Nepali': 70
}
student_result = Result(marks)
print('the percentage of student :' ,student_result.calculate_percentage())

In [ ]:
# Passing a list in class and check id even or add

In [ ]:
class NumberCheker:
    def __init__(self,numbers):
        self.number=numbers
    def check_even_or_odd(self):
        evens=[]
        odds=[]
        for num in self.numbers:
            if num%2 ==0:
                evens.append(num) 
                #print(f'{num} is even')
            else :
                odds.append(num) 
                #print(f'{num} is odd')
my_list=[1,2,3,4,5,6,7,8,9,0,12,3,4,56,78,90,21,41,53,63,7885]
# object
checker=NumberChecker(my_list)
even,odd=checker.check_even_or_odd()
print('the list of even number is',even)
print('the list of odd number is',odd)

In [ ]:
# Passing a list of strings and checking their lengths
def print_lengths(strings):
    for s in strings:
        print(f"'{s}' has length {len(s)}")

words = ['apple', 'banana', 'cat', 'dog', 'elephant']
print_lengths(words)

In [ ]:
# passing a list of numbers and checking positive, negative or zero

In [ ]:
class NumberAnalyzer:
    def __init__(self,numbers):
        self.numbers=numbers
    def analyse(self):
        for num in self.numbers:
            if num>0:
                print(f'{num} is positive')
            elif num<0:
                print(f'{num} is negative')
            else:
                print(f'{num} is zero')
nums=[5,-3,12,-7]
analyser=NumberAnalyser(nums)
analyser.NumberAnalyser()

In [ ]:
# passing multiple arguments(not list) using *args
class MultiValueHandler:
    def __init__(self,*values):
        self.values=values

    def display_all(self):
        for val in self.values:
            print('Value',val)
handler=MultiValueHandler(10,'hello',3.14,True,12,34,67,'desf')
handler.display_all()

In [ ]:
# Palindrome chacker
class Palindrome:
    def __init__(self,text):
        self.text=text
    def is_palindrome(self):
        # remove spaces
        cleaned=cleaned.replace(' ','').lower()
        cleaned==cleaned[::-1]

        if self.text==cleaned:
            print('the sentences is palindronme',self.text)
        else:
            print('sentences is not palindronme',self.text)
word1=Palindrome('madam')
word2=Palindrome('Hello')
word3=Palindrome('A man a plan a canal Panama')

word1.is_palindrome()
word2.is_palindrome()
word3.is_palindrome()

In [ ]:
class Palindrome:
    def __init__(self,text):
        self.text=text
    def is_palindrome(self):
        cleaned=0
        org=0
        # remove spaces
        cleaned=cleaned.replace(' ','').lower()
        cleaned == org[::-1]

        if org ==cleaned:
            print('the sentences is palindronme',self.text)
        else:
            print('sentences is not palindronme',self.text)
word1=Palindrome('madammadam')
word2=Palindrome('Hello')
word3=Palindrome('A man a plan a canal Panama')

word1.is_palindrome()
word2.is_palindrome()
word3.is_palindrome()

In [ ]:
# Inheritance
- Inheritance allows us to define class that inherits all methods and properties from another class.

parent class is the class being inherited from, also called base class
child class is the class that inherits from another class, also called derived class

1. Single Inheritance

In [ ]:
# 1. Single Inheritance
class Animal:
    def make_sound(self):
        print('every animal breathe')
        
class Dog(Animal):
    def bark(self):
        print('the dog bark woof woof')
        
# always create the object of child class
dog=Dog()
dog.bark()
dog.make_sound()

In [ ]:
class Vehicle:
    def __init__(self,brand: str,speed: int):
        self.brand: str=brand
        self.speed: int=speed

    def move(self):
        return f"{self.brand} is moving at speed of {self.speed} km/h"
class Car(Vehicle):
    def __init__(self,brand:str,speed: str,num_doors=int):
        super().__init__(brand,speed)
        self.num_doors:int=num_doors

    def move(self):
        return f"{self.brand} is moving at speed of {self.speed} km/h with {self.num_doors} doors"
car=Car(brand='Toyota',speed=120,num_doors=4)
car.move()

In [ ]:
# create a single level inheritance............
class People:
    def make_sound(self):
        print('every people breathe')
        
class Boy(People):
    def speak(self):
        print('Ram speaks Hello')
        
# always create the object of child class
ram=Boy()
ram.speak()
ram.make_sound()

In [ ]:
# 2. Multilevel Inheritance

In [ ]:
class Vehicle:
    def move(self):
        return 'vehicle is moving'
class Car(Vehicle):
    def move_car(self):
        return 'car is moving'
class SportCar(Car):
    def move_sc(self):
        return 'sportscar is moving'

obj=SportCar()
print(obj.move_sc())
print(obj.move_car())

In [ ]:
# Create a example of single and multilevel inheritance sharing both methods and attributes

In [ ]:
# Single inheritance
# Parent class
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    
    def show_details(self):
        print(f"Name: {self.name}, Salary: {self.salary}")

# Child class
class Manager(Employee):
    def assign_task(self, task):
        print(f"{self.name} assigns task: {task}")

# Example usage
mgr = Manager('Ram', 75000)
mgr.show_details()    # Inherited from Employee
mgr.assign_task("Prepare Survey Report")  # From Manager

In [ ]:
# Multilevel Inheritance
# Grandparent class
class Gadget:
    def __init__(self, brand):
        self.brand = brand
    
    def turn_on(self):
        print(f'{self.brand} gadget is now ON.')

# Parent class
class Phone(Gadget):
    def call(self, number):
        print(f'Calling {number} from {self.brand} phone.')

# Child class
class Smartphone(Phone):
    def browse_internet(self):
        print(f'{self.brand} smartphone is browsing the internet.')

# Example usage
my_phone = Smartphone('Samsung')
my_phone.turn_on()       # From Gadget
my_phone.call("98510-45361") # From Phone
my_phone.browse_internet() # From Smartphone

In [ ]:
3. Multiple inheritance 
- a single child class inherits from two or more parent classes

In [ ]:
class ElectricVehicle:
    def __init__(self,battery_capacity: int):
        self.battery_capacity: int=battery_capacity

    def charge(self) -> str:
        return f"charging battery to {self.battery_capacity} kwh"

class FlyingMachine:
    def fly(self) -> str:
        return 'Flying in the sky'

class ElectricFlyingCar(ElectricVehicle, FlyingMachine):

    def __init__(self,brand: str,battery_capacity:int):
        ElectricVehicle.__init__(self,battery_capacity)
        self.brand: str=brand

    def move(self) -> str:
        return f"{self.brand} is driving and flying with {self.battery_capacity} kwh"
car=ElectricFlyingCar('skydrive',75)
print(car.move())
print(car.fly())
print(car.charge())

In [ ]:
# Hierarchical inheritance 
- multile child classes inherit from the same parent class

In [ ]:
class Device:
    def __init__(self,brand:str):
        self.brand:str=brand
    def power_on(self) -> str:
        return f"{self.brand} device is now on"

class Smartphone(Device):
    def call(self) -> str:
        return f"{self.brand} smartphone is making a call"
        
class Laptop(Device):
    def code(self) -> str:
        return f"{self.brand} laptop is making a code"

class Tablet(Device):
    def draw(self) -> str:
        return f"{self.brand} tablet is used for drawing"

# object of class 1 smartphone
phone=Smartphone('Samsung')
print(phone.call())
print(phone.power_on())

lap=Laptop('Dell')
print(lap.code())
print(lap.power_on())

tab=Tablet('Apple')
print(tab.draw())
print(tab.power_on())

In [ ]:
# Hybrid inheritance:
- a combination of two or more types of inheritance

In [ ]:
# Lets create a structure
- Vehicle -> Base class
- electric -> adds electric functionality
- car -> inherits from vehicle 
- electricCar - inherits from both car and electric

In [ ]:
# Base Class
class Person:
    def __init__(self, name):
        self.name = name
    
    def show_name(self):
        print(f"Name: {self.name}")

# First Level of Inheritance
class Employee(Person):
    def __init__(self, name, salary):
        super().__init__(name)
        self.salary = salary
    
    def show_salary(self):
        print(f"Salary: {self.salary}")

class Student(Person):
    def __init__(self, name, course):
        super().__init__(name)
        self.course = course
    
    def show_course(self):
        print(f"Course: {self.course}")

# Hybrid: Multiple Inheritance
class Intern(Employee, Student):
    def __init__(self, name, salary, course, duration):
        Employee.__init__(self, name, salary)
        Student.__init__(self, name, course)
        self.duration = duration
    
    def show_internship(self):
        print(f"Internship Duration: {self.duration} months")

# Example usage
intern1 = Intern('Ailesh', 20000, 'Information Technology', 6)
intern1.show_name()        # From Person
intern1.show_salary()      # From Employee
intern1.show_course()      # From Student
intern1.show_internship()  # From Intern