In [1]:
# display any thing
print(20)

20

In [2]:
print('ABC')

ABC

# Variable
- is a name that stores some values
# How to declare a variable in python
a=20

In [3]:
a=10
b=30
c='XYZ'

In [4]:
print(a)
print(b)
print(c)

10
30
XYZ

# Data type in python
integer-int() whole number
float -decimal number 10.34,34,5,60.0
string- str anything the is not a number('1234r','Ashim','this is a data science class')
bool-boolean true or False

In [11]:
a=20
b=30
c=a+b
print('This is sum of two numbers :',c,'First number is:'a, 'Second number is:'b)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (598257754.py, line 4)

# Take input from user
input()

In [ ]:
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
sum=a+b
print('sum is',sum)

# enter 3 input from user and perform multiplication and display the results

In [ ]:
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a*b*c
print('multi is',sum)

# Operators
-are special symbol or keywords to perform operations on variables and value
1.Arithmetic operators
-basic math operators

# Arithmetic operators
operators                   meaning                     example
+                           addition
-                           subtraction
*                           multiply
/                           division
//                          floor Division             5//2=2
%                           modules                    5%2=1
**                          exponent(power)            2**2=4

In [ ]:
a=23
b=10
print('normal division',a/b)
print('floor division',a//b)
print('reminder',a%b)
print('power',a**b)

# Addition
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a+b+c
print('sum is',sum)

# Substraction
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a-b-c
print('substraction is',sum)

# Multiply
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a*b*c
print('multi is',sum)

# Division
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a/b/c
print('division is',sum)

# Floor Division
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a//b//c
print('floor division is',sum)

# Modules
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a%b%c
print('modules is',sum)

# Exponent(Power)
a=float(input('enter a 1st number'))
b=float(input('enter a 2nd number'))
c=float(input('enter a 3nd number'))
sum=a**b**c
print('exponent (power) is',sum)